In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
pwd

'/Users/rich/Desktop/ml_projects'

In [13]:
student_data = pd.read_excel('math_grades.xlsx')

In [24]:
student_data = student_data[['Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'health', 'absences', 'G1', 'G2', 'G3' ]]

In [25]:
student_data.head()

,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,health,absences,G1,G2,G3
0,4,4,2,2,0,4,3,3,6,5,6,6
1,1,1,1,2,0,5,3,3,4,5,5,6
2,1,1,1,2,3,4,3,3,10,7,8,10
3,4,2,1,3,0,3,2,5,2,15,14,15
4,3,3,1,2,0,4,3,5,4,6,10,10

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train_set, test_set = train_test_split(student_data, test_size = 0.2, random_state = 21)

In [29]:
corr_matrix = student_data.corr()
corr_matrix['G3'].sort_values(ascending=False)

G3            1.000000
G2            0.904868
G1            0.801468
Medu          0.217147
Fedu          0.152457
studytime     0.097820
famrel        0.051363
absences      0.034247
freetime      0.011307
health       -0.061335
traveltime   -0.117142
failures     -0.360415
Name: G3, dtype: float64

In [52]:
student_data = train_set.drop('G3', axis=1)
labels = train_set['G3'].copy()

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
lin_reg = LinearRegression()
lin_reg.fit(student_data, labels)

LinearRegression()

In [59]:
some_data = student_data.iloc[:5]
some_labels = labels.iloc[:5]
print('Predictions:\t', lin_reg.predict(some_data))
print('Labels:\t\t', list(some_labels))

Predictions:	 [12.90358479  8.1325204  14.9212904  11.86236673 14.65385421]
Labels:		 [13, 8, 15, 11, 15]